%p#notice= notice
%h1 Products

= link_to 'New Warehouse', new_warehouse_path
%table
  %thead
    %tr
      %th
      %th Sku Code
      %th Name
      - @warehouses.each do |w|
        %th= w.name
      %th Action
  %tbody
    - @products.each_with_index do |product,i|
      %tr
        %td=i+1
        %td= link_to product.sku_code, edit_product_path(product)
        %td= product.name
        - product.warehouse_products.each do |wp|
          %td{:class => wp.try(:item_count)<wp.low_item_threshold ? 'alert' : ''}= wp.try(:item_count)
        %td= link_to 'Edit', edit_product_path(product)